.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
@font-face {
  font-family: "Comic Sans MS";
  src: url("https://fonts.googleapis.com/css2?family=Comic+Sans+MS&display=swap");
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.boton1{
  background-color: #846075;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  margin:5px;
}
.App {
  background-color: #C0BCB5; 
  min-height: 100vh; 
  margin: 0;
  padding: 0;
}
#pCorrect { 
  color:green;
  font-size: 20px;
  font-style: Comic Sans MS;
  

}
#pIncorrect{
color:red;
font-size:20px;
}
p{
font-size: 22px;
}